<h1 class="page-header">Dashboard</h1>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <%= link_to users_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= User.count %></div>
                <div> Usuarios</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">Ver lista de usuarios</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <%= link_to needs_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-basket fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Need.count %></div>
                <div>Necesidades</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">Ver lista de necesidades</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <%= link_to activities_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-calendar fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= Activity.count %></div>
                <div>Actividades</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">Ver lista de actividades</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-blue">
        <%= link_to own_activities_path do %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-calendar-check-o fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= current_user.user_activities.count %></div>
                <div>Mis Actividades</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">Ver lista de mis actividades</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>    
  </div>
</div>