<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
      <%= link_to root_path, class: 'navbar-brand' do %>
        Todos por Chicho!
      <% end %>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle"></i><%=  current_user.email %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_user_path(current_user) do %>
              </i> Profile</a>
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-power-off"></i> Log Out
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <%= link_to users_path do %>
              <i class="fa fa-fw fa-users"></i>
              Usuarios
          <% end %>
        </li>
        <li>
          <%= link_to needs_path do %>
              <i class="fa fa-fw fa-shopping-basket"></i>
              Necesidades
          <% end %>
        </li>  
        <li>
          <%= link_to activities_path do %>
              <i class="fa fa-fw fa-calendar"></i>
              Actividades
          <% end %>
        </li>     
        <li>
          <%= link_to own_activities_path do %>
              <i class="fa fa-fw fa-calendar-check-o"></i>
              Mis Actividades
          <% end %>
        </li>             
      </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>