<%= form_tag "#{}", class: "validate", method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-5">
      <div class="col-sm-4">
        <%= label_tag :name, "Nombre", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :name, nil, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="col-sm-4">
        <%= label_tag :show_time, "Fecha", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= date_field_tag :show_time, Date.today, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-12">
        <input class="btn btn-default pull-right" type="submit" value="Search">
    </div>
  </div>
<% end %>